body{
    background: rgb(195, 247, 9);
}

h1{
    background-color: aqua;
    color: green;
    text-align: center;
    font-size: 50px;
    margin: 10px;
}

h2{
    background-color: green;
    color: aqua;
    margin: 10px;
    font-weight: 80px;
    width: 150px;
}
h3{
    background-color: blueviolet;
    width: 270px;
}

.registration-form{
    background-color: aqua;
    width: 500px;
    transform: translate(50px);
    width: fit-content;
}

.registration-form h1{
   background-color: rgb(16, 133, 127);
   color: rgb(110, 171, 13);
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px
}

.sucursal{
    color: rgb(235, 10, 10);
}